<div id="lang-picker" hidden aria-modal="true" role="dialog">
    <div class="lang-picker__box">
        <img src="/src/assets/img/e2LogoWhite.svg" alt="member">

        <div>
            <a id="pick-fr" href="/" lang="fr">FR</a>
            <p> | </p>
            <a id="pick-nl" href="/nl/" lang="nl">NL</a>
        </div>

        <noscript>
            <p>JavaScript est désactivé. Utilisez :</p>
            <p><a href="/">Français</a> · <a href="/nl/">Nederlands</a></p>
        </noscript>
    </div>
</div>