@font-face {
  font-family: 'Satoshi';
  src: url("/src/fonts/Satoshi-Variable.woff2") format('woff2'),
       url('/src/fonts/Satoshi-Variable.woff2') format('woff');
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url("src/fonts/Satoshi-VariableItalic.woff2") format('woff2'),
       url('src/fonts/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 100 1000;
  font-style: italic;
}