body:has(.mainnav__toggle:checked) {
    overflow: hidden;
    height: 100vh;

    box-sizing: border-box;
}

.tablet-invisible {
    pointer-events: none;
    
    display: none;

}

.-anim__scrollHidden {

    transform: translateY(calc((-100% * var(--scroll-direction)) - 100.1% ));
    transition-property: transform;
    transition-duration: .2s;
    transition-delay: var(--nav-transition-duration);
    transition-timing-function: ease-in-out;

}

.mainnav__container {

    width: 100%;
    box-sizing: border-box;
    /*overflow-x: clip; BREAKS MACOS SAFARI */

    position: fixed;
    z-index: 1;
    
    background-color: var(--color-white);
    box-shadow: 0px 3px 10px -5px rgba(0,0,0,0.45);
}

.mainnav__content {

    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;

    position: relative;

}

.mainnav__bar {

    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    z-index: 2;

    pointer-events: none;

}

.mainnav__bar a{

    pointer-events: all;

}

.mainnav__logo{
    width: 35px;
    padding: var(--spacing-l);
}

.mainnav__icon {

    margin-left: auto;
    padding: var(--spacing-m);
    cursor: pointer;
    pointer-events: all;

}

.mainnav__icon::after {

    content: "menu ";
    font-size: 1.5rem;
    font-weight: bold;

}

.mainnav__icon:first-child {

    margin-left: 0;
}


/*===================
= NAVIGATION 
===================*/

.mainnav__nav {

    width: 100%;
    height: 100vh;

    position: absolute;
    right: -100%;
    z-index: 1;

    background-color: white;

    transition: all 0.3s ease-in-out;

}

.mainnav__list {

    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    gap: var(--spacing-l);

}

.mainnav__item h2{

    text-transform: uppercase;
    font-size: var(--spacing-l);
    font-weight: normal;
    
}

.mainnav__item--active h2{
    
    text-decoration: underline;
    font-weight: bold;

}

/* ---- TOGGLE NAVIGATION ---- */

.mainnav__toggle {

    display: none;

}

.mainnav__toggle:checked ~ .mainnav__nav {

    right: 0;
    z-index: 1;

}

.mainnav__toggle:checked ~ .mainnav__bar .mainnav__icon::after {

    content: "close";

}

/* ---- TOGGLE LANGUAGE ---- */

.langSwitch{
    display: flex;
    gap: var(--spacing-xxs);

    position: absolute;
    bottom: 15vh;
}

.lang--active h2{
    text-decoration: underline;
    font-weight: bold;
}

/*===================
= MEDIA QUERIES
===================*/

@media all and (min-width: 768px) {

    .mainnav__container {

        padding-inline: var(--spacing-xl);

    }

    .mainnav__content {

        flex-direction: row;

    }

    .mainnav__bar {

        justify-content: space-between;

    }

    .mainnav__logo {

        width: 20vw;
        padding-inline: 0;
        display: none;

    }

    .tablet-invisible{
        display: block;
    }


    .mainnav__icon {

        display: none !important;

    }

    .mainnav__nav {

        width: 100%;
        position: absolute;
        height: auto;
        right: 0;

        transition: none;

        background-color: transparent;

    }

    .mainnav__list {

        flex-direction: row;
        gap: var(--spacing-xl);
        justify-content: flex-end;

    }

    .mainnav__item h2{

        font-size: var(--spacing-m);

    }

    .langSwitch{
        position: relative;
        bottom: 0;
        margin-left: var(--spacing-xl);
        align-items: center;
    }

}

@media all and (min-width: 1440px){
    
    .mainnav__logo {

        width: 15vw;
        padding-block: var(--spacing-l);

    }

    .mainnav__container {

        padding-inline: var(--spacing-xxl);

    }

}