.footer{
    background-color: var(--color-black);

    padding-block: var(--spacing-l);
    margin-block-start: var(--section-spacing-mobile);
    row-gap: var(--spacing-xl);

    color: var(--color-white);
}

.footer img{
    grid-column: 2 / 5;
    height: auto;
}

.footer__container{
    grid-column: 2 / -2;

    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xl);
}

.footer__content{
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-xxs);
}

.footer__content > p,
.footer__content > a{
    opacity: 0.5;
}

.footer__content h2{
    padding-bottom: calc(var(--spacing-xxs) / 2);
    opacity: 0.75;
}

.line{
    width: 100%;
    height: 1px;
    background-color: var(--color-white);

    margin-bottom: var(--spacing-s);
}

@media(min-width: 768px) {

    .footer{
        padding-block-start: var(--spacing-xxxl);
        margin-block-start: var(--section-spacing-tablet);

        row-gap: var(--spacing-xxxl);
    }

    .footer img{
        grid-column: 5 / 7;
    }

    .footer > :nth-child(2) {
        grid-column: 3 / -3;
        flex-direction: row;
        justify-content: space-evenly;
        gap: var(--spacing-s);
    }

    .footer > :nth-child(2) > * {
        width: 100%;
        text-align: center;
    }

    .footer > :nth-child(3) {
        text-align: center;
    }

}

@media(min-width: 1024px) {

    .footer{
        margin-block-start: var(--section-spacing-intermediate);
    }

    .footer img{
        grid-column: 5 / 8;
    }


}

@media(min-width: 1440px) {

    .footer{
        padding-block: var(--spacing-xxl);
        margin-block-start: var(--section-spacing-desktop);
    }

    .footer img{
        grid-column: 2 / 4;
    }

    .footer > :nth-child(2) {
        grid-column: 8 / -2;
    }

    .footer > :nth-child(2) > * > * {
        text-align: left;
        font-size: var(--spacing-m);
    }

    .footer > :nth-child(3) > * > * {
        font-size: var(--spacing-m);
    }


}