{% extends "index.twig" %}
 
{% set pageTitle = ('Contact'|t) %}

{% block content %}

    <div class="section grid-layout contact navspace">
        <h1><span>We are </span>e2architecture</h1>
        <div class="contact-container">
            <div class="contact-content">
                <h2>{{'Address'|t}}</h2>
                <a href="https://www.google.com/maps/place/Rte+de+Battice+71,+4880+Aubel">Rte de Battice,<br>71 4880 Aubel<br>Belgique</a>
            </div>
            <div class="contact-content">
                <h2>{{'Info'|t}}</h2>
                <div>
                    <a href="mailto:info@e2architecture.be">info@e2architecture.be</a>
                    <a href="tel:+3287688606">+32 87 68 86 06</a>
                </div>
            </div>
            <div class="contact-content">
                <h2>Jobs</h2>
                <a>{{'Want to join team?'|t}}<br>{{'Contact us'|t}}</a>
            </div>
        </div>
        <img>
    </div>

{% endblock %}